language: objective-c
xcode_workspace: Shoka.xcworkspace
xcode_scheme: Shoka
osx_image: xcode8
notifications:
  email:
    recipients:
      - aquarhead@ela.build
      - liu.dongyuan@gmail.com
    on_success: change
    on_failure: always
